<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

<h1>Alta cliente</h1>
<form role="form">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" id="nombre" />
  </div>
  <div class="form-group">
    <label for="cif">CIF:</label>
    <input type="text" class="form-control" id="cif" />
  </div>
  <div class="form-group">
    <label for="direccion">Dirección:</label>
    <input type="text" class="form-control" id="direccion" />
  </div>
  <div class="form-group">
    <label for="grupo">Grupo:</label>
    <input type="number" class="form-control" id="grupo" />
  </div>
  <button>Guardar</button>
</form>

<app-lista-clientes [datos]="clientes"></app-lista-clientes>
